body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bg {
    background-color: #343a40;
}

.center-div
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-div {
  position: fixed;
  top: 0;
  bottom: 0;
}

.bg-xlow {
  background-color: #c1c2a4;
}
.bg-header-xlow {
  background-color: #689581;
}

.bg-low {
  background-color: #ddd8ab;
}
.bg-header-low {
  background-color: #acbc8a;
}

.bg-medium {
  background-color: #f7e4aa;
}
.bg-header-medium {
  background-color: #ecd189;
}

.bg-high {
  background-color: #f9d49c;
}
.bg-header-high {
  background-color: #f2b476;
}

.bg-xhigh {
  background-color: #e4a082;
}
.bg-header-xhigh {
  background-color: #bc5952;
}
